:root {
  --bg-color: #121212;
  --surface-color: #272727;
  --shadow-color: #0C0C0C;
  --text-color: #FFFFFF;
  background: var(--bg-color);
}

.container {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr 1fr;
  grid-template-rows: 0.4fr 0.2fr 3fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "sidebar search search"
    "sidebar activities activities"
    "footer footer footer";
}

.header { 
  grid-area: header; 
  background-color: var(--surface-color);
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
}

.search {
  grid-area: search;
}

.sidebar { 
  grid-area: sidebar; 
}

.activities { 
  grid-area: activities; 
}

.footer { 
  grid-area: footer; 
}

